/.vs/WebLibrary/v15/Server/sqlite3/storage.ide-shm
/EReadingLib/obj/Debug/EReadingLib.csproj.CoreCompileInputs.cache
/EReadingLib/obj/Debug/EReadingLib.csprojAssemblyReference.cache
/WebLib/node_modules/
